[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
boto3 = "*"
python-telegram-bot = "*"
pytest = "*"
telebot = "*"

[dev-packages]

[requires]
python_version = "3.9"
